<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.fau.cs.mad.smile_crypto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_smile_orange"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ImportCertificateActivity"
            android:label="@string/title_activity_import_certificate" >
        </activity>
        <activity
            android:name=".KeyChainActivity"
            android:label="@string/title_activity_key_chain" >
        </activity>
        <activity
            android:name=".DecryptLocalMailActivity"
            android:label="@string/title_activity_decrypt_local_mail" >
        </activity>
        <service
            android:name=".remote.SMimeService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_api"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.fau.cs.mad.ISMimeService" />
            </intent-filter>
        </service>
    </application>

</manifest>
